<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <label for="cityName">City Name: </label>
            <br>
            <input id="cityName" type="text" name="cityName">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>